header {
    background-color: #3e0c0c;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #39a1e1;
    font-weight: bold;
    transition: color 0.3s;
}

body {
    background-color: #759e50; 
}
.float-right {
    float: right;
  }
.card-left-align {
    width: 18rem;
    text-align: left;
  }
nav ul li a:hover {
    color: #ff6600; /* Change the color on hover */
}
.card-border {
    border: 1px solid #f8f3f3; /* You can adjust the border color and style */
    border-radius: 5px;    /* You can adjust the border radius for rounded corners */
    padding: 10px;          /* You can adjust the padding as needed */
  }
  
.container {
    width: 100%; /* Adjust container width as needed */
    text-align: right; /* Align content to the right */
}

.profile-pic {
    display: inline-block; /* Display the profile picture as an inline block */
    
}
.custom-profile-pic {
    width: 100px; /* Set the desired width */
    height: 100px; /* Set the desired height */
}
.card-with-height {
    width: 18rem;
    height: 200px; /* Adjust the height value as needed */
  }

